li a:hover{
    color:white;
}
.news li{
    padding: 10px;
}
.news h2{
    color: whitesmoke;
    padding: 5px;
}
.section-hotnews h2{
    background-color: rgb(74, 151, 126);
}
.section-realty h2{
    background-color: rgb(61, 101, 102);
}
.section-hotnews li:hover{
    background-color: rgb(74, 151, 126);
  }
.section-realty li:hover{
    background-color: rgb(61, 101, 102);
}
.section-hotnews .footer{
    color: rgb(74, 151, 126);
}
.section-realty .footer{
    color: rgb(61, 101, 102);
}
